@charset 'utf-8';
@import url(../css/reset.css);
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700&display=swap");

* {
  box-sizing: border-box;
}

/* Header 영역 */
header {
  height: 50px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: #fff;
}
/* Contents 영역 */
section.signForm {
  position: relative;
  height: 800px;
  width: 70%;
  background: url(../assets/images/sign_bg.png) no-repeat center/contain;
  margin-left: 50%;
  transform: translateX(-50%);
}
section.signForm > h2 {
  text-align: center;
  margin-top: 10%;
}
body,
html {
  background-color: #ebecf0;
}

body,
p,
input,
select,
textarea,
button {
  font-family: "Merriweather", sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
}

div,
p {
  color: #babecc;
  text-shadow: 1px 1px 1px #fff;
}

form {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  margin: 0 auto;
}
.segment {
  padding: 16px * 2 0;
  text-align: center;
}

button,
input {
  border: 0;
  outline: 0;
  font-size: 14px;
  border-radius: 16px * 20;
  padding: 10px;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
}

label {
  display: block;
  margin-bottom: 16px * 1.5;
  width: 100%;
}

input {
  margin-right: 16px/2;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  width: 70%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

button {
  color: #61677c;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  width: 25%;
  font-weight: 600;
}
button:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

button:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
#confirm_num_btn,
#send_mail_btn {
  font-family: "NotoSansKR";
  font-size: 18px;
  font-weight: 200;
}
.icon {
  margin-right: 16px/2;
}

.unit {
  border-radius: 16px/2;
  line-height: 0;
}
i {
  color: inherit;
}
.pw-icon {
  position: absolute;
  left: 62%;
  line-height: 50px;
  color: #aaa;
}
button[type="submit"] {
  width: 120px;
  height: 60px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}
section#imageSlider {
  height: 500px;
  width: 100%;
  border: 1px solid #61677c;
}
section.SuggestionSection {
  height: 500px;
  width: 80%;
  margin-left: 50%;
  transform: translateX(-50%);
}
.SuggestionSection > ul > li {
  width: 200px;
  height: 300px;
  float: left;
  border: 0.5px solid #ddd;
  margin-right: 25px;
}
/* Footer 영역 */
footer {
  width: 100%;
  height: 300px;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

/* large screen */
@media screen and (max-width: 1200px) {
}
/* laptop */
@media screen and (max-width: 1024px) {
}
/* tablet */
@media screen and (max-width: 768px) {
}
/* mobile */
@media screen and (max-width: 480px) {
}
